body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.meniuLogin {
    position: relative;
    left: 60%;
}

#map {
    height: 500px;
}

.carousel-inner {
    height: 300px;
}

.poza{width:100%;}

button {
    background-color: darkseagreen; /*#4CAF50 Green */
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
