@model MagazinVirtualInstrMuzicale.Models.AfisareProduse


@{
    var nrRowuri = Model.ListaProduse.Count() / 2;
}

@for (int i = 0; i < Model.ListaProduse.Count(); i += 3)
{
    <div class="row">
        @{
            int j = 0;
            for (; j <= 2 && i + j < Model.ListaProduse.Count(); j++)
            {
                <div class="col-md-4" style="box-shadow:inset 0 0 1px #000000;">
@{
                    @:Numele Produsului:@Html.ActionLink(Model.ListaProduse[i + j].NumeProdus, "Details", "Home", new { id = Model.ListaProduse[i + j].IdProdus }, null)
                    <br />
                    @:Pretul Produsului:   @(Model.ListaProduse[i + j].PretProdus.ToString("#.##") + " RON")
                    <br />
    foreach (var poza in Model.ListaProduse[i + j].PozaProdus)
    {
                    <div> <img src='/Home/LoadPicture?id=@poza.IdPozaProdus' width="250" height="100" /></div>
    }
                    <br />
    if (Session["UserRole"] != null && Session["UserRole"].ToString() == "Client")
    {
                    <button class="adaugaInCosClass" id="@Model.ListaProduse[i + j].IdProdus">Adauga In Cos</button>
    }
    }
                </div>
    }
        }
    </div>
    <br />
    }