@model MagazinVirtualInstrMuzicale.Models.AfisareProduse
<div id="indexContent">
    @{
        ViewBag.Title = "AfisareProduse";
    }

    <h2 style="text-align:center">Produse</h2>
    <br />
    Filtrare dupa Categorie:
    <br />
    @Html.DropDownListFor(m => m.IdCategorieSelectata, new SelectList(Model.CategoriiProduse, "IdCategorie", "NumeCategorie"), "  --Selecteaza Categoria--  ", new { id = "categoryFilterId" })
    <br />
    
    <div id="renderTablePartialView">@{ Html.RenderPartial("_productTablePartialView", Model); }</div>
</div>