<form method="post" enctype="multipart/form-data">
    Categorie noua Produs:
    <br />
    <input type="text" name="NumeCategorie" />
    <br />
    <input type="submit" value="Adauga" />
    <br />
</form>
<br />