@model IEnumerable<MVIM.DAL.Producator>
<h3>AdaugaProducator</h3>

<form method="post" enctype="multipart/form-data">
    Adauga producator nou:
    <br />
    <input type="text" id="numeProducatorId" name="NumeProducator" />
    <br />
    <input type="button" id="adaugaProducatorId" value="Adauga" />
    <br />
</form>
<br />
<div id="renderProducatoriPartialView">
    @{ Html.RenderPartial("_producatoriProdusePartialView", Model); }
</div>
