<h3>AdaugaProducator</h3>

<form method="post" enctype="multipart/form-data">
    Adauga producator nou:
    <br />
    <input type="text" name="NumeProducator" />
    <br />
    <input type="submit" value="Adauga" />
    <br />
</form>
<br />