@model IEnumerable<MVIM.DAL.Produs>

@{
    ViewBag.Title = "AfisareProduse";
}

<h2>AfisareProduse</h2>
<br />
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                Numele Produsului: @item.NumeProdus
                <br />
                Pretul Produsului:   @item.PretProdus
                <br />
                Poza Produs:
                @foreach (var poza in item.PozaProdus)
                {
                    <div> <img src='/AdminProduse/LoadPicture?id=@poza.IdPozaProdus' width="250" height="100" /></div>
                }
                <br />
            </td>
            <td>
                @Html.ActionLink("Editeaza", "EditeazaProdus", "AdminProduse", new { id = item.IdProdus }, null) |

                @Html.ActionLink("Delete", "StergeProdus", "AdminProduse", new { id = item.IdProdus }, null)
            </td>
        </tr>
    }
</table>
