@model MVIM.DAL.DataModels.ComenziPlasateDataModel
<br />
<div style="float:right">
    <input id="searchTrimId" type="text" />&nbsp;<button id="cautaButtonId">Cauta</button>
</div>
<br />
<div id="reloadContentComenziPlasateId"> @{ Html.RenderPartial("_comenziPlasatePartialView", Model); }</div>