<h3>OperatiuniProduse</h3>
<ul>
    <li><a href="/AdminProduse/AdaugaCategorie">Adauga Categorie</a></li>
    <li><a href="/AdminProduse/AdaugaProducator">Adauga Producator</a></li>
    <li><a href="/AdminProduse/AdaugaProdus">Adauga Produs</a></li>
    <li><a href="/AdminProduse/AfisareProduse">Afisare Produse</a></li>
</ul>
